/* =============================================
	Color: Purple
	Color Code: #8470FF / rgba(132,112,255)
================================================ */
.intro::before {
    background: rgba(132,112,255, 0.96);
}
header .is-sticky nav.navbar .navbar-morki ul.nav li.active a {
    color: #8470FF;
}
header .is-sticky nav.navbar .navbar-morki ul.nav li.nav-download-btn a {
    background: #8470FF;
}
header .is-sticky nav.navbar .navbar-morki ul.nav li a:hover {
    color: #8470FF;
}
header nav.navbar .navbar-morki ul.nav li a:focus {
    color: #8470FF;
}
.intro .intro-info .intro-info-content ul li:first-child a {
    color: #8470FF;
}
.section-header h2::before {
    background: #8470FF;
}
.services .service-box .icon {
    border: 2px solid #8470FF;
}
.services .service-box:hover .icon {
    background: #8470FF;
    border-color: #8470FF;
}
.services .service-box .icon::after {
    background: #8470FF;
}
.services .service-box:hover a {
    color: #8470FF;
}
.about-app .app-info h2 span {
    color: #8470FF;
}
.about-app .app-info ul li::before {
    color: #8470FF;
}
.app-features .features-left .feature-single .feature-icon span {
    color: #8470FF;
}
.app-features .features-left .feature-single:hover .feature-icon span::before {
    background: #8470FF;
}
.app-features .features-right .feature-single .feature-icon span {
    color: #8470FF;
}
.app-features .features-right .feature-single:hover .feature-icon span::before {
    background: #8470FF;
}
.video-featured::before {
    background: rgba(132,112,255, 0.95);
}
.video-featured a.video-btn span:first-child {
    color: #8470FF;
}
.screenshots .screenshot-gallery .screenshot-single figure figcaption a::before,
.screenshots .screenshot-gallery .screenshot-single figure figcaption a::after {
    background: #8470FF;
}
.screenshots .gallery-info a {
    background: #8470FF;
}
.screenshots .owl-dots .owl-dot span::before {
    border: 2px solid #8470FF;
}
.screenshots .owl-dots .owl-dot.active span::before {
    background: #8470FF;
}
.screenshots .owl-dots .owl-dot span {
    border: 2px solid #8470FF;
}
.counters .counter-box div {
    color: #8470FF;
}
.counters .counter-box:hover div::before {
    background: #8470FF;
    border-color: #8470FF;
}
.counters .counter-box span {
    color: #8470FF;
}
.price-table .price-table-wrapper .price-header span.price {
    color: #8470FF;
}
.price-table .price-table-wrapper .price-btn a {
    border: 2px solid #8470FF;
    color: #8470FF;
}
.price-table .price-table-wrapper:hover .price-btn a {
    background: #8470FF;
}
.price-table .price-table-wrapper.price-table-featured::before {
    background: #8470FF;
}
.price-table .price-table-wrapper.price-table-featured .price-btn a {
    background: #8470FF;
}
.testimonial .testimonial-slider .slide-single .client-info ul li.client-image::before {
    background: #8470FF;
}
.testimonial .owl-dots .owl-dot.active span::before {
    background: #8470FF;
}
.testimonial .owl-dots .owl-dot span::before {
    border: 2px solid #8470FF;
}
.testimonial .owl-dots .owl-dot span {
    border: 2px solid #8470FF;
}
.team .team-carousel .team-single figure figcaption {
    background: rgba(132,112,255, 0.9);
}
.team .team-carousel .team-single figure figcaption div ul li a:hover {
    color: #8470FF;
}
.team .owl-dots .owl-dot.active span::before {
    background: #8470FF;
}
.team .owl-dots .owl-dot span::before {
    border: 2px solid #8470FF;
}
.team .owl-dots .owl-dot span {
    border: 2px solid #8470FF;
}
.download-app::before {
    background: rgba(132,112,255, 0.9);
}
.change-log .changelog-timeline::before {
    background: #8470FF;
}
.change-log .changelog-timeline .timeline-single .icon {
    color: #8470FF;
}
.faqs .faq-single .faq-icon span {
    background: #8470FF;
}
.newsletter::before {
    background: rgba(132,112,255, 0.95);
}
.newsletter form button {
    color: #8470FF;
}
.blog .blog-single figure figcaption ul.post-meta {
    background: rgba(132,112,255, 0.9);
}
.blog .blog-single:hover figure figcaption h3 a,
.blog .blog-single:hover figure figcaption ul.post-bottom li a {
    color: #8470FF;
}
.blog .blog-btn a {
    background: #8470FF;
}
.contact::before {
    background: rgba(132,112,255, 0.95);
}
.contact .contact-details ul.contact-social li a {
    color: #8470FF;
}
.contact .contact-wrapper form .form-group button {
    color: #8470FF;
}
footer p i {
    color: #8470FF;
}
footer .footer-bottom-menu ul li a:hover {
    color: #8470FF;
}
footer p#back-top a:hover {
    background: #8470FF;
    border-color: #8470FF;
}
#hill {
    border-left: .25em solid #8470FF;
}
#box {
    border: .25em solid #8470FF;
}
.about-app2::before {
    background: #8470FF;
}
.about-app2 .app-info h2 span {
    color: #333;
}
.about-app2 .app-info ul li::before {
    color: #333;
}
.pages-header::before {
    background: rgba(132,112,255, 0.95);
}
.blog-wrapper .blog-sidebar .sidebar-widget h3::before {
    background: #8470FF;
}
.blog-wrapper .blog-sidebar .sidebar-widget.search-widget form button {
    background: #8470FF;
    border: 1px solid #8470FF;
}
.blog-wrapper .blog-sidebar .sidebar-widget.search-widget form input:focus {
    border-color: #8470FF;
}
.blog-wrapper .blog-sidebar .sidebar-widget.recent-post ul li::before,
.blog-wrapper .blog-sidebar .sidebar-widget.archieve-widget ul li::before {
    background: #8470FF;
}
.blog-wrapper .blog-sidebar .sidebar-widget.recent-post ul li a:hover,
.blog-wrapper .blog-sidebar .sidebar-widget.archieve-widget ul li a:hover {
    color: #8470FF;
}
.post-details .article-meta ul li a {
    color: #8470FF;
}
.post-details .article-content blockquote {
    border: 4px double rgba(132,112,255, 0.4);
}
.blog-wrapper .blog-sidebar .sidebar-widget.tags-widget ul li a:hover {
    border-color: #8470FF;
    color: #8470FF;
}
.post-details .article-content ul.blog-post-pagination li a:hover {
    color: #8470FF;
}
.post-details .post-comments ul.comment-list li .comment-details h3 {
    color: #8470FF;
}
.post-details .post-comments ul.comment-list li .comment-details a:hover {
    color: #8470FF;
}
.post-details .leave-comment form .form-group button {
    background: #8470FF;
    border: 2px solid #8470FF;
}
.post-details .leave-comment form .form-group button:hover {
    color: #8470FF;
}
.blog-wrapper .blog-content .blog-single .blog-thumb figure figcaption {
    background: rgba(132,112,255, 0.7);
}
.blog-wrapper .blog-content .blog-single .blog-single-contents h3 a:hover {
    color: #8470FF;
}
.blog-wrapper .blog-content .blog-single .blog-single-contents ul li a:hover {
    color: #8470FF;
}
.blog-wrapper .blog-content .blog-single:hover .blog-single-contents .rm-btn a {
    background: #8470FF;
    border-color: #8470FF;
}
.blog-wrapper .blog-content .blog-single:hover .blog-single-contents .rm-btn::before {
    background: #8470FF;
}
.blog-wrapper .blog-content .blog-pagination ul li.active a {
    background: #8470FF;
    border-color: #8470FF;
}
.blog-wrapper .blog-content .blog-pagination ul li a:hover {
    border-color: #8470FF;
    color: #8470FF;
}
.get-notified form button {
    color: #8470FF;
}
.contact-main .section-header h2::before {
    background: #8470FF;
}
.contact-main .contact-wrapper form .form-group input:focus,
.contact-main .contact-wrapper form .form-group textarea:focus {
    border-color: #8470FF;
}
.contact .contact-wrapper form .form-group button {
    color: #8470FF;
}
.contact-main .contact-details ul.contact-info-list li i {
    color: #8470FF;
}

.gallery-wrapper .portfolio-content figure:hover figcaption {
    background: rgba(132,112,255, 0.9);
}
.gallery-wrapper .gallery-pagination ul li.active a {
    background: #8470FF;
}
.gallery-wrapper .gallery-pagination ul li a:hover {
    background: #8470FF;
}
.shop-wrapper .single-product figure figcaption {
    background: rgba(132,112,255, 0.9);
}
.shop-wrapper .single-product figure figcaption div a {
    color: #8470FF;
}
.shop-wrapper .single-product .product-meta span {
    color: #8470FF;
}
.shop-wrapper .single-product .product-meta h3 a:hover {
    color: #8470FF;
}
.shop-wrapper .shop-pagination ul li.active a {
    background: #8470FF;
}
.shop-wrapper .shop-pagination ul li a:hover {
    background: #8470FF;
}
.product-details-container ul.product-rating li {
    color: #8470FF;
}
.product-details-container .p-price p {
    color: #8470FF;
}
.product-details-container ul.pd-btns li:first-child a {
    background: #8470FF;
}
.product-details-container ul.pd-btns li:first-child a:hover {
    color: #8470FF;
}
.product-details-container ul.pd-btns li a {
    border: 1px solid #8470FF;
    color: #8470FF;
}
.product-details-container ul.pd-btns li a:hover {
    background: #8470FF;
}
.team-wrapper .team-single figure figcaption {
    background: rgba(132,112,255, 0.9);
}
.team-wrapper .team-single figure figcaption div ul li a:hover {
    color: #8470FF;
}
.contact-main .contact-wrapper form .form-group button {
    color: #fff;
    background: #8470FF;
}